# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Files that break our project
/vcs.xml
/misc.xml
/codeStyles/
/qaplug_profiles.xml
../src/Trivia_Maze_Game.iml